body {
    background-color: #4593e3;
    color: #fff;
}
.raleway> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
.App {
    font-family: "Raleway", sans-serif ;
    text-align: center;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover
, a:active {
	color: #333;
}

/* Header Style */
.main
, .container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.5;
	padding: 0 0 0.6em 0.1em;
}

/*Input Styles*/
input {
    padding: 20px;
    border: none;
    font-weight: 700;
    font-size: 125%;
}
  
  /* General button style (reset) */
.btn {
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background: none;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      margin: 15px 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      background: #226fbe;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
  }
  
.btn:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }

.btn:active {
	top: 2px;
}
/* Button Interactions */

.btn {
	border: 4px solid #226fbe;
	border-radius: 60px;
}

.btn:hover {
	background: transparent;
	color: #226fbe;
}

.filter-btn {
    
}

/* list styles */

li {
    text-transform: uppercase;
    font-size: 125%;
}
